<div class="row">
  <div class="col-md-2" ng-controller="ResourceSelectorCtrl">
    <h2>Sensors</h2>
    <div ng-dropdown-multiselect="" options="options" 
    selected-model="selectedSensors" extra-settings="settings"
    style="margin-top: 3.15em;"></div>
  </div>

  <div class="col-md-5">
    <h2>From</h2>
    <date-time-picker model="from.date"></date-time-picker>
  </div>

  <div class="col-md-5">
    <h2>To</h2>
    <date-time-picker model="to.date"></date-time-picker>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <flot dataset="flotData" options="flotOptions" 
    width="100%" height="300px"></flot>
  </div>
</div>
